
body
{
	margin: 0;
    font-family: 'Cousine', sans-serif;
}

.container
{
    width:100%;
    height:300px;
    position:fixed;
    top:0;
    left: 0;
    z-index:999;
}

.about
{
    display:inline-block;
    width:100%;
    top-margin:300px;
    
    background-color:#fdfceb;
    color:#404a3f;
}

.logo
{
   display:inline-block;
    float:left;
    padding-left:200px;
}

.bio
{
    padding-left:50px;
    text-align:center;
    display:inline-block;
}

.projects
{
    display: inline-block;
    float: bottom;
    position:fixed;
    height:85%;
    width:100%;
    margin-top:100px;
    padding-top:50px;
    overflow:auto;
    
    background-color:#fdfceb;
    color:#366946;
}

.gamz
{
    padding-left: 200px;
    margin: auto;
}


.description
{
    display:inline;
    position:absolute;
    float:right;
    margin-left:50px;
    margin-right:200px;
}


.header
{
    display:inline-block;
}

.title
{
    float:left;
    text-transform:uppercase;
}

.date
{
    float:right;
    display:inline-block;
}

.info
{
    display:inline-block;
    text-align:left;
    margin:auto;
}
