
body
{
	margin: 0;
    font-family: 'Cousine', sans-serif;
}

.container
{
    width:100%;
    height:20%;
    position:fixed;
    top:0px;
    display:inline-block;
}

.about
{
    display:inline-block;
    width:100%;
    top-margin:20%;
    
    background-color:#fdfceb;
    color:#404a3f;
}

.logo
{
   display:inline-block;
    float:left;
    padding-left:200px;
}

.bio
{
    float:left;
    display:inline-block;
}

.projects
{
    display: inline-block;
    float: bottom;
    position:relative;
    height:80%;
    width:100%;
    margin-top:100px;
    overflow:auto;
    
    background-color:#fdfceb;
    color:#366946;
}

.gamz
{
    padding-left: 200px;
    margin: auto;
}


.description
{
    display:inline;
    position:absolute;
    float:right;
    margin-left:50px;
    margin-right:200px;
}


.header
{
    display:inline-block;
}

.title
{
    float:left;
    text-transform:uppercase;
}

.date
{
    float:right;
    display:inline-block;
}

.info
{
    display:inline-block;
    text-align:left;
    margin:auto;
}
